.hero-section {
  height: 500px;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.dashboard-nav {
  box-shadow: 20px 20px rgba(0, 0, 0, 0.5);
}
.h-500 {
  height: 500px;
}
.h-150 {
  height: 150px;
}
.top-0 {
  top: 0;
}

footer {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.hero-text {
  position: absolute;
  color: white;
  width: 80%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: 0.675;
}

.custom-nav {
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 15px;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

.cascading-right {
  margin-left: -50px;
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

.card {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.card-green {
  background: #d1e7dd;
  color: #198754;
}
.card-left-border-blue {
  border-left: 5px solid #007bff;
}
.card-left-border-yellow {
  border-left: 5px solid #ffc107;
}
.card-left-border-green {
  border-left: 5px solid #198754;
}
.card-left-border-red {
  border-left: 5px solid #dc3545;
}
/* h1 {
  color: #198754;
} */
.card-left-border- {
  border-left: 5px solid #007bff;
  color: #0d6efd;
  color: #6610f2;
  color: #6f42c1;
  color: #d63384;
  color: #dc3545;
  color: #fd7e14;
  color: #ffc107;
  color: #198754;
  color: #20c997;
  color: #0dcaf0;
}
/* html {
  position: relative;
  min-height: 100%;
}

.content-wrapper {
  margin-top: 5rem;
}

.nav-link:hover {
  transition: all 0.4s;
}

@media (min-width: 992px) {
  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
    background: rgb(108, 117, 125);
    box-sizing: border-box;
    text-align: center;
    padding-top: 2.5rem;
  }

  .navbar-side .sidenav {
    flex-direction: column;
    justify-content: flex-start;
  }

  .content-wrapper {
    margin-left: 230px;
  }

  .footer {
    width: calc(100% - 230px);
    margin-left: 230px;
  }
} */
