{% extends "layout/general_base.html" %}
{% import 'components/card.html' as macros %}
{% block title %}Home{% endblock %}
{%block hero_text %}
<h1>Welcome to Biosecurity</h1>
<p>
  Protecting the environment and the economy from the impact of pests and
  diseases.
</p>

{% endblock %}
{% block body %}
<div class="container">
  <div class="row m-5">
    <div class="col-md-4 col-sm-12">
      <h1>Biosecurity</h1>
      <hr class="border border-success border-3 opacity-75">
      <p>your trusted source for biosecurity information and resources</p>
    </div>
    <div class="col-md-8 col-sm-12">
      <h3>Who we are?</h3>
      <p>
        We are dedicated to promoting awareness, education, and action to protect our environment from the threats of
        invasive species and diseases. Explore our site to learn more about biosecurity practices, regulations, and how
        you can contribute to preserving the biodiversity of our ecosystems.
      </p>
    </div>
  </div>
  <div class="row d-flex align-items-center mt-4">
    <div class="col-md-6 col-sm-12">
      {% call macros.card('Shared responsibility', 'text-bg-success') %}
      <p class='mt-4'>
        Biosecurity is a shared responsibility. Everyone in New Zealand has a
        role to play in protecting our country from pests and diseases.
      </p>
      {% endcall %}
    </div>
    <div class="col-md-3 col-sm-6">
      {% call macros.card('', 'card-left-border-green') %}
      <h5 class='text-success mt-3 mb-3'>Human Health Safeguard</h5>
      {% endcall %}

    </div>
    <div class="col-md-3 col-sm-6">
      {% call macros.card('', 'card-left-border-green') %}
      <h5 class='text-success mt-3 mb-3'>Biodiversity Protection</h5>
      {% endcall %}
    </div>
  </div>

  <div class="row d-flex-align-items-center mt-5 bg-light-subtle">
    <div class="w-auto">
      <h3>Join Us</h3>
      <p>
        Join us to access all the resources and information on biosecurity.
      </p>
    </div>
    <button type="button" class="btn btn-outline-success btn-lg rounded-pill">Join Us To View All Resource</button>
  </div>
</div>
{% endblock %}