{% extends "layout/dashboard_base.html" %} {% block title %}dashboard{% endblock
%} {% block content %}
<div class="row">
  <div class="col-sm-6">
    {% with card_title='Admin Total', card_content='Staff Total: 100' %} {%
    include 'components/card.html' %} {% endwith %}
  </div>
  <div class="col-sm-6">
    {% with card_title='Staff Total', card_content='Staff Total: 100' %} {%
    include 'components/card.html' %} {% endwith %}
  </div>
  <div class="col-sm-6">
    {% with card_title='Pest Controller Total', card_content='Pest Controller: 100' %}
    {% include 'components/card.html' %}
    {% endwith %}
  </div>
  <div class="col-sm-6">
    {% with card_title='Pest Total', card_content='Pest Total: 100' %} {%
    include 'components/card.html' %} {% endwith %}
  </div>
</div>

<div class='row'>
  <div class="panel mb-g">
    <div class="panel-heading">
      <h3>Product Status</h3>
    </div>
    <div class="panel-body">
      <div class="product-status">
        <p>
          admin: {{ admin_len }}
        </p>
        <p>
          employee: {{ employ_len }}
        </p>
        <p>
          controller: {{ controller_len }}
        </p>
        <p>
          user_info: {{ user_info }}

        </p>

        <p>
          admin: 3

          employee: 1

          controller: 0

          user_info: {'id': 2, 'user_id': 2, 'position_id': None, 'department_id': None, 'first_name': 'admin',
          'last_name': 'zhang', 'work_phone': None, 'hired_at': datetime.date(2024, 2, 25)}
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}