{% extends "layout/general_base.html" %}
{% import 'components/card.html' as macros %}

{% block title %}PESTS{% endblock %}
{%block hero_text %}
<h1>Welcome to Join Us</h1>
<p>

</p>
{% endblock %}
{% block body %}
<div class="container">
  <div class="row m-5">
    <!-- loop through the pests -->
    {% for pest in pests %}
    <div class="col-md-3 col-sm-6">
      {% call macros.card(
      card_title=pest['common_name'],
      class_name='card-left-border-green',
      img_url=url_for('static', filename='uploads/' + pest.image)) %}
      {# Additional content for the card, if any #}
      <p class="card-text text-truncate">{{ pest.description }}</p>
      <a href="#" class="btn btn-outline-success">View Details</a>
      {% endcall %}
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}