{% extends 'layout/base.html' %}

{% block title %}
<!-- Title specific to this page... -->
{% endblock %}

{% block body%}
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-success-subtle">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-1 pt-2 text-white min-vh-100 position-sticky top-0 text-center">
        <h3 class='mt-4'>
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-success text-decoration-none ">
            Biosecurity
          </a>
        </h3>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

          <!-- MANAGE PROFILE -->
          <li class='mt-4'>
            <a href="/dashboard" class="nav-link px-0 align-middle text-muted">
              <span class="ms-1 d-none d-sm-inline p-2">Manage Profile</span>
            </a>
          </li>

          <!-- MANAGE STAFF: if role_id === 2 admin can view it -->
          {% if current_user.role_id == 2 %}
          <li class='mt-4'>
            <a href="/manage_staff" class="nav-link px-0 align-middle text-muted">
              <span class="ms-1 d-none d-sm-inline p-2">Manage Staff</span>
            </a>
          </li>
          {% endif %}

          <!-- MANAGE PEST CONTROLLER: if rold.id != 3(staff and admin) can view it -->
          {% if current_user.role_id != 3 %}
          <li class='mt-4'>
            <a href="/manage_customer" class="nav-link px-0 align-middle text-muted">
              <span class="ms-1 d-none d-sm-inline p-2">Manage Pest Controller</span>
            </a>
          </li>

          <!-- MANAGE PEST -->
          <li class='mt-4'>
            <a href="/manage_pest" class="nav-link px-0 align-middle text-muted">
              <span class="ms-1 d-none d-sm-inline p-2 text-muted">Manage Pest</span>
            </a>
          </li>
          {% endif %}

          {% if current_user.role_id == 3 %}
          <li class='mt-4'>
            <a href="/pest" class="nav-link px-0 align-middle text-muted">
              <span class="ms-1 d-none d-sm-inline p-2 text-muted">View Pest</span>
            </a>
          </li>
          {% endif %}
        </ul>
        <hr>
        <div class="dropdown pb-4">
          <a href="#" class="d-flex align-items-center text-muted text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="d-none d-sm-inline p-2 mx-1 text-muted">
              {% if current_user.is_authenticated %}
              {{ current_user.email }}
              {% endif %}
            </span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li>
              <a class="dropdown-item" href="/">
                Home
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/pest">
                Pest
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/reset-password">
                Rest Password
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}