{% extends 'layout/base.html' %}

{% block title %}
{% endblock %}

{% block body %}
<div class="py-4 hero-section vh-100">
  <div class="container row g-0 align-items-cente">
    <div class="col-lg-6 mb-5 mb-lg-0">

    </div>
    <div class="col-lg-6 mb-5 mb-lg-0">
      <div class="card cascading-right">
        <div class="card-body p-5 shadow-5">

          {% block form_title %}
          {% endblock %}

          {% block form %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}